#SceneMain {
	position: absolute;
	left: 0;
	top: 0;
	width: 960px;
	height: 540px;
	background: #000;
	color: #fff;
}

#SceneMain .title {
	display: block;
	position: absolute;
	font-size: 20px;
	top: 20px;
	left: 20px;
	margin: 0;
	padding: 0;
}

#list {
	position: absolute;
	top: 45px;
	left: 10px;
	width: 940px;
	height: 450px;
}

.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.list li {
	display: block;
	float: left;
	width: 430px;
	height: 45px;
	background: #333;
	margin: 10px;
	padding: 10px;
}

.list .focused {
	background: #666;
}

.focused .focused {
	background: #09f;
}

.list .name {
	font-size: 18px;
	margin: 0;
	padding: 0;
}

.list .program {
	margin: 0;
	padding: 0;
}

.loading .scrollbar {
	display: none;
}

.scrollbar {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	height: 10px;
	background: #222;
}

.scrollbar .bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 10px;
	background: #666;
}

#list .error {
	font-size: 18px;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -8px;
	text-align: center;
	display: none;
	color: #e00;
}

.sf-ui-keyhelp {
	background: #333;
}
